<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="chocolateygui" />
    <package id="boxstarter" />
    <package id="googlechrome" />
    <package id="chocolatey-core.ext" />
    <package id="adobereader-update" />
    <package id="winrar" />
    <package id="7zip" />
    <package id="javaruntime" />
    <package id="nodejs" />
    <package id="ccleaner" />
    <package id="googlechrome" />
    <package id="chromium" />
    <package id="firefox" />
    <package id="opera" />
    <package id="sumatrapdf" />
    <package id="cutepdf" />
    <package id="filezilla" />
    <package id="winscp" />
    <package id="conemu" />
    <package id="awscli" />
    <package id="superputty" />
    <package id="openssh" />
    <package id="wireshark" />
    <package id="pdfcreator" />
    <package id="greenshot" />
    <package id="virtualbox" />
    <package id="rapidee" />
    <package id="curl" />
    <package id="choco install rabbitmq" />
    <package id="git" />
    <package id="vlc" />
    <package id="totalcommander" />
    <package id="sublimetext3" />
    <package id="python3" />
    <!--
    <package id="dropbox" />
    <package id="googledrive" />
    <package id="putty" />
    <package id="teamviewer" />
    <package id="youtube-dl" />
    <package id="calibre" />
    <package id="github" />
    <package id="git-lfs" />
    <package id="sourcetree" />
    <package id="kate" />
    <package id="postgresql-9.4" />
    <package id="pgadmin3" />
    <package id="autohotkey" />
    <package id="macrocreator" />
    <package id="libreoffice" />
    <package id="pycharm" />
    <package id="python2" />
    <package id="steam" />
    <package id="battle.net" />
    <package id="discord" />
-->

</packages>
